html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */

h1 {
    font-size: 38px;
    margin-left: 565px;
    padding: 30px;
    }

p {
    margin-left: 250px;
}

h3 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#dotted-para {
              margin-left: 810px;
              color: lightslategray;
}
.bigbox {
     height: 200px;
     width: 180px;
     background-color: lightcoral;
     margin-left: 830px;
    
 }

#smallbox {
    height: 100px;
    width: 80px;
    display: inline-block;
    background-color: lightskyblue;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    border: 15px solid rgb(219, 71, 71);
    outline: 3px solid black;
}


.dot-border {
    height: 10px;
    width: 400px;
    border-bottom: 4px dotted rgb(219, 213, 213);
    margin-left: 700px;
    padding-top: 30px;
    }

footer {
    margin-left: 485px;
    margin-top: 30px;
    padding: 25px;
}

.content {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: cadetblue;
    display: inline-block;
    
}

.border {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin:  0px;
    }

.padding {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin:  0px;
    
}

.margin {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: lightcoral;
    display: inline-block;
    margin:  0px;
    
}

.no {
      margin-left: 800px;
      padding-top: 15px;
      font-size: 20px;
}



.bbb {
    width: 600px;
    border: 1px solid rgb(141, 137, 137);
    font-size: 0;
    margin-left: 640px;
}
 
.box1 {
      display: inline-block;
      width: 180px;
      height: 100px;
      background-color: rgb(112, 106, 106);
      margin: 10px;
    }

.box2 {
        display: inline-block;
        width: 180px;
        height: 100px;
        background-color: rgb(112, 106, 106);
        margin: 10px;

}

.box3 {
    display: inline-block;
    width: 180px;
    height: 100px;
    background-color: rgb(112, 106, 106);
    margin: 10px;
}

.parent1 {
    width: 600px;
    border: 1px solid black;
    margin-left: 640px;
}

.box11 {
    display: inline-block;
    width: 180px;
    height: 100px;
    background-color: rgb(112, 106, 106);
    margin: 10px;
    border: 1px solid black;
}

.box22 {
    display: inline-block;
    width: 180px;
    height: 100px;
    background-color: rgb(112, 106, 106);
    margin: 10px;
    border: 1px solid black;
}

.box33 {
    display: inline-block;
    width: 180px;
    height: 100px;
    background-color: rgb(112, 106, 106);
    margin: 10px;
    border: 1px solid black;
}

#Para2 {
       text-align: center;
       font-size: 24px;
       padding: 20px;
}

#para3 {
    text-align: center;
    padding: 20px;
}

.chotu {
    display: inline-block;
    width: 180px;
    height: 100px;
    background-color: rgb(112, 106, 106);
    margin: 10px;
    border: 1px solid black;

}

#bigb { 
    width: 600px;
border: 1px solid black;


margin-left: 640px;
}